@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 163 30% 97%;
    --foreground: 163 10% 15%;
    --card: 163 30% 100%;
    --card-foreground: 163 10% 15%;
    --popover: 163 30% 100%;
    --popover-foreground: 163 10% 15%;
    --primary: 163 56% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 163 30% 90%;
    --secondary-foreground: 163 56% 40%;
    --muted: 163 30% 90%;
    --muted-foreground: 163 15% 55%;
    --accent: 163 56% 70%;
    --accent-foreground: 163 56% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 163 20% 88%;
    --input: 163 25% 94%;
    --ring: 163 56% 50%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 163 10% 10%;
    --sidebar-foreground: 163 20% 90%;
    --sidebar-primary: 163 56% 70%;
    --sidebar-primary-foreground: 163 56% 10%;
    --sidebar-accent: 163 56% 70%;
    --sidebar-accent-foreground: 163 56% 10%;
    --sidebar-border: 163 10% 20%;
    --sidebar-ring: 163 56% 70%;
  }

  .dark {
    --background: 163 10% 10%;
    --foreground: 163 20% 90%;
    --card: 163 10% 14%;
    --card-foreground: 163 20% 90%;
    --popover: 163 10% 10%;
    --popover-foreground: 163 20% 90%;
    --primary: 163 56% 70%;
    --primary-foreground: 163 56% 10%;
    --secondary: 163 15% 20%;
    --secondary-foreground: 163 20% 90%;
    --muted: 163 15% 20%;
    --muted-foreground: 163 15% 60%;
    --accent: 163 56% 70%;
    --accent-foreground: 163 56% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 163 10% 20%;
    --input: 163 10% 20%;
    --ring: 163 56% 70%;

    --sidebar-background: 163 10% 10%;
    --sidebar-foreground: 163 20% 90%;
    --sidebar-primary: 163 56% 70%;
    --sidebar-primary-foreground: 163 56% 10%;
    --sidebar-accent: 163 15% 20%;
    --sidebar-accent-foreground: 163 20% 90%;
    --sidebar-border: 163 10% 20%;
    --sidebar-ring: 163 56% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
