@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 227 20% 93%;
    --foreground: 227 25% 25%;
    --card: 227 20% 98%;
    --card-foreground: 227 25% 25%;
    --popover: 227 20% 98%;
    --popover-foreground: 227 25% 25%;
    --primary: 227 50% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 227 20% 88%;
    --secondary-foreground: 227 50% 48%;
    --muted: 227 20% 88%;
    --muted-foreground: 227 20% 55%;
    --accent: 262 49% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 227 20% 80%;
    --input: 227 20% 85%;
    --ring: 227 50% 48%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 233 33% 21%;
    --sidebar-foreground: 227 20% 93%;
    --sidebar-primary: 227 50% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 227 50% 48%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 233 33% 28%;
    --sidebar-ring: 227 50% 68%;
  }

  .dark {
    --background: 227 15% 15%;
    --foreground: 227 15% 85%;
    --card: 227 15% 19%;
    --card-foreground: 227 15% 85%;
    --popover: 227 15% 15%;
    --popover-foreground: 227 15% 85%;
    --primary: 227 50% 68%;
    --primary-foreground: 227 50% 10%;
    --secondary: 227 15% 25%;
    --secondary-foreground: 227 15% 90%;
    --muted: 227 15% 25%;
    --muted-foreground: 227 15% 65%;
    --accent: 262 49% 67%;
    --accent-foreground: 262 49% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 227 15% 25%;
    --input: 227 15% 25%;
    --ring: 227 50% 68%;

    --sidebar-background: 227 15% 15%;
    --sidebar-foreground: 227 15% 85%;
    --sidebar-primary: 227 50% 68%;
    --sidebar-primary-foreground: 227 50% 10%;
    --sidebar-accent: 227 15% 25%;
    --sidebar-accent-foreground: 227 15% 90%;
    --sidebar-border: 227 15% 25%;
    --sidebar-ring: 227 50% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
